*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
.clearfloat:after{
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0
}
.clearfloat{
	zoom:1
}
.f_left{
	float: left;
}
.f_right{
	float: right;
}